body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.label{
    font-size: 18;
}

.alert{
    margin-top: 25;
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

@media (min-width: 1024px) {
    .container {
        max-width: 960px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

@media screen and (min-width: 768px) {
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    .header {
        margin-bottom: 30px;
    }
}