<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>nutz plugins for undertow</title>
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="jumbotron masthead">
	  <div class="container">
		<h1>nutz plugins for undertow</h1>
		<div style="height:20px"></div>
		<h2>欢迎使用undertow插件</h2>
		<p>看到此页面，说明undertow插件已正常运行。插件默认使用了内置的DefaultModule做为主模块。</br>
		请在源码根目录添加web.properties文件，并设置web.modules属性为你自己的主模块类。</p>
		<div style="height:20px"></div>
		<p class="masthead-button-links">
		  <a class="btn btn-lg btn-primary btn-shadow" href="https://github.com/nutzam/nutzmore/tree/master/nutz-plugins-undertow" target="_blank" role="button">插件更详细使用说明</a>
		</p>
		<ul class="masthead-links">
		  <li>
			<a href="http://undertow.io/undertow-docs/undertow-docs-1.3.0/index.html" target="_blank" role="button">undertow doc(v1.3.0)</a>
		  </li>
		</ul>
		<div class="row">
		  <div class="col-md-4 col-md-offset-8">当前时间: ${time}</div>
		</div>
	  </div>
	</div>
</body>
</html>